<h2>Slicer</h2>

<p>
  {{x-file-input name="files" multiple=false action=(action "didSelectFile") alt="Choose a File"}}
</p>


{{#radio-button
  value="html"
  groupValue=viewMode
  changed="viewChanged"}}
  html
{{/radio-button}}

{{#radio-button
  value="slices"
  groupValue=viewMode
changed="viewChanged"}}
  Slices
{{/radio-button}}

{{#radio-button
  value="assets"
  groupValue=viewMode
  changed="viewChanged"
}}
  Assets
{{/radio-button}}

<div>
  {{#if showHtml}}
    {{{template.html}}}
  {{/if}}

  {{#if showSlices}}
    Slice by: {{input value=tagType}}

    {{#each slices as |slice i|}}
      <div class="slice-container">
        <div class="slice-separator">&nbsp;</div>
        <div class="button-bar">
          <button class="myButton" {{action "saveSlice" i}}>Save</button>
        </div>
        <div class="slice">{{{slice}}}</div>
        <br/><br/>
        <br/>
      <pre>
        <div class="html">{{slice}}</div>
      </pre>
      </div>
    {{/each}}
  {{/if}}

  {{#if showSaved}}
    {{#each assets as |asset|}}
      <div class="slice-separator">&nbsp;</div>
      <div class="slice">{{{asset.html}}}</div>
      <br/><br/>
      <pre>
        <div class="html">{{asset.html}}</div>
      </pre>
    {{/each}}
  {{/if}}
</div>