  {{#if isSelectingAsset}}
    {{#unless isPreview}}
      <div class="layout-section {{if isPreview "preview"}}">
        <div class="selecting-asset">
          <div>{{section.name}}</div>
          {{#power-select options=assets onchange=(action "selectedAsset") as |asset|}}
            {{asset.name}}
          {{/power-select}}
        </div>
      </div>
    {{/unless}}
  {{else}}
    <div class="layout-section {{if isPreview "preview"}}">
      {{{asset.html}}}
    </div>
  {{/if}}
